{{!< default}}

{{#post}}
<article class="page">
    <header>
        <h1>{{title}}</a></h1>
    </header>

    <div class="readable">
    {{content}}
    </div>

    <footer><p><a href="{{url}}">Permalink</a></footer>
</article>
{{/post}}
